* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: 1;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #ecedee;
    text-align: center;

}

header {
    background-image: linear-gradient(#013d7c, #003b77, #01366c);
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid #c19e00;
    color: white;
    padding: 12px 16px;
}

header h1 {
    margin: 0;
    font-size: 18px
}

h4 {
    font-size: 0.9rem;
}

.container {
    padding: 20px;

}


input[type="text"] {
    padding: .300rem .75rem;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: .25rem;
}

button {
    flex-direction: column;
    color: #384048;
    background-image: linear-gradient(rgb(199, 170, 36), rgb(193, 158, 0));
    background-origin: padding-box;
    background-repeat: repeat-x;
    border: 3px solid rgb(199, 170, 36);
    background-size: auto;
    padding: .500rem .500rem;
    border: none;
    border-radius: .25rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: .875rem;
    cursor: pointer;
    line-height: 12px;
}

button:hover {
    color: white;
    background: #836b02;
}


#resultado {
    margin-top: 10px;
    text-align: left;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 4px;
    overflow: auto;
    max-height: 400px;
}

#qsa {
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: auto;
}